<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Passionate web developer always willing to build solutions that ease people's lives.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/selzlein"><%= fa_icon 'github' %></a></li>
      <li><a href="https://twitter.com/jason_selzlein"><%= fa_icon 'twitter' %></a></li>
      <li><a href="https://facebook.com/djeison.selzlein"><%= fa_icon 'facebook' %></a></li>
    </ol>
  </div>
</aside>
