<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "eu.jpg", width: 300, alt: 'Profile image' %>
  </div>
  <div class="col-md-8">
    <p>I am a web developer with over 3 years of programming experience working with Java on Spring Framework</p>
  </div>
</div>
